@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap');
@import 'node_modules/modern-normalize/modern-normalize.css';

@import 'variables';
@import 'mixins';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'dot-pulse';

@layer base {
    body {
        @apply bg-background font-primary;
    }
}

@layer components {
    .button {
        @apply hover:bg-[#555759];
    }
}

@layer utilities {
    .smooth-effect {
        @apply transition-all duration-300;
    }
    .absolute-center {
        @apply flex items-center justify-center;
    }
    .full-size {
        @apply h-full w-full;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    height: fit-content;
    overflow-x: hidden;
    transition-duration: 350ms;
}

#nprogress .bar {
    background: #f43f5e !important;
    z-index: 1500 !important;
}

#nprogress .spinner-icon {
    border-top-color: red !important;
    border-left-color: red !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px red, 0 0 5px red !important;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    @apply rounded-2xl bg-gray-400;
}

.magictime {
    -webkit-animation-duration: 350ms !important;
    animation-duration: 350ms !important;
}

.select__value-container {
    flex-wrap: nowrap !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.circle,
.circle-sm {
    width: 3.75em;
    transform-origin: center;
    animation: rotate 2s linear infinite;
}

.circle-sm {
    width: 2.5rem;
}

.circle-loading {
    fill: none;
    stroke: #fc2f70;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

.vertical-slide-demo-page {
    animation: v-slide-demo-page 3s infinite;
}

.horizontal-slide-demo-page {
    animation: h-slide-demo-page 3s infinite;
}

.zoom-animate {
    animation: zoom-effect 100ms;
}

// bc animate.style override pulse effect tailwind,
// can't use directly animate-pulse tw utility :|
.loading-pulse {
    animation: pulse-tw 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.fancy-fade-in {
    animation: fade-in-animation 0.8s ease-in-out;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
        filter: brightness(1) blur(20px);
    }
    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
    100% {
        opacity: 1;
        filter: brightness(1) blur(0);
    }
}

@keyframes pulse-tw {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes zoom-effect {
    0% {
        transform: scale(0.8, 0.8);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dashoffset: -125px;
    }
}

@keyframes v-slide-demo-page {
    0% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(-35px); /* The image width */
    }
}

@keyframes h-slide-demo-page {
    0% {
        transform: translateX(-26px);
    }
    100% {
        transform: translateX(25px); /* The image width */
    }
}

.bubble-top-left-to-bottom-right {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: none;
    overflow: hidden;
    transition: color 0.2s ease-in-out;
    &:hover {
        cursor: pointer;
    }
    &:hover::before {
        transform: translate3d(50%, 50%, 0) scale3d(15, 15, 15);
    }
    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        bottom: 100%;
        right: 100%;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background: linear-gradient(
            0deg,
            rgba(222, 33, 24, 1) 0%,
            rgba(234, 72, 66, 0.9279061966583508) 100%
        );
        transform-origin: center;
        transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
        transition: transform 0.2s ease-in-out;
    }
}

.pulse-effect-primary,
.pulse-effect-secondary {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    border: none;
    &:hover {
        cursor: pointer;
    }
    &:hover::before {
        transition: all 0.75s ease-in-out;
        transform-origin: center;
        transform: scale(1.3);
        opacity: 0;
    }
    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 4px solid #f43f5e;
        border-radius: inherit;
        transform-origin: center;
        transform: scale(1);
    }
}

.pulse-effect-secondary {
    &::before {
        border: 4px solid white;
    }
}

.shine-effect {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    overflow: hidden;
    cursor: pointer;
    &::after {
        content: '';
        z-index: -1;
        background-color: hsla(0, 0%, 100%, 0.2);
        position: absolute;
        top: -50%;
        bottom: -50%;
        width: 1.25em;
        transform: translate3d(-525%, 0, 0) rotate(35deg);
    }
    &:hover::after {
        transition: transform 0.45s ease-in-out;
        transform: translate3d(200%, 0, 0) rotate(35deg);
    }
}

.section-swiper {
    padding-bottom: 50px !important;
}

.swiper-pagination-bullet {
    @apply h-[5px] w-[5px] md:h-[7px] md:w-[7px];
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.swiper-pagination-bullet-active {
    background-color: #f43f5e !important;
}

.deslide-cover {
    &::before {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            90deg,
            #202125 0,
            rgba(32, 33, 37, 0.6) 40%,
            rgba(32, 33, 37, 0) 60%,
            rgba(32, 33, 37, 0) 80%,
            #202125 100%
        );
    }
    &::after {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            0deg,
            #202125 0,
            rgba(32, 33, 37, 0) 50%,
            #202125 100%
        );
        z-index: 2;
    }
}
